{% load static %}
{% load fontawesome_6 %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% fontawesome_6_static %} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>
    {% if message %}
        <div class="messages">
            {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <nav>
        <a href="{% url 'home' %}"><img src="{% static 'media/LogoEucalyptusServicesv2.png' %}" id="logo-nav"></a>
        <button class="burger" type="button" value="menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <!-- Top Navigation Menu -->
        <div class="topnav">
            <div id="myLinks">
                <a href="{% url 'artist_list' %}" class="burger-buttons">Home</a>
                <a href="{% url 'song_list' %}" class="burger-buttons">Songs List</a>
                {% if user.is_authenticated %}<a href="{% url 'artist_create' %}"  class="burger-buttons">New Artist</a>
                <a href="{% url 'song_create' %}" class="burger-buttons">New Song</a>{% endif %}<br/>
            </div>
        </div>
        <div id="log">
        {% if user.is_authenticated %}
            <span><u>Connecté</u> : {{user}}</span>
            <a href="{% url 'log_out' %}" id="logout-button">Déconnexion</a>
        {% else %}
            <a href="{% url 'log_in' %}" class="connect-buttons">Se connecter</a>
            <a href="{% url 'register' %}" class="connect-buttons">Inscription</a>
        {% endif %}
        </div>
    </nav>
        {% block content %}{% endblock %}
    <footer>
        <p id="text-copyright">&copy; Copyright 2024 — Made with &#9829; by Thibault Paillon.</p>
        {% comment %}<img src="/static/assets/excesslogostoryTurquoise small.png" alt="logo eXcess" id="logo"/>{% endcomment %}
    </footer>
</body>
</html>