{% extends "base.html" %}
{% block title %}Song Update{% endblock %}

{% block content %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
        <p class="message {{ message.tags }}">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
<h1 id="artist-list">Update Song Details</h1>
    <div id="article-update">
        <div class="forms-template">
            
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="name">Name :</label>
                {{ form.name }}
                
                
                {% if request.user.is_superuser %}
                <br><br>
                <label for="artist">Artist :</label>
                    {{ form.artist }}
                {% else %}
                <label for="artist" hidden>Artist :</label>
                    <input type="text" name="artist" value="{{ request.user.artist.id }}" readonly hidden>
                {% endif %}
                <br><br>
            
                <label for="artwork">Artwork :</label>
                {{ form.artwork }}<br><br>
            
                <label for="soundcloud_url">SoundCloud URL :</label>
                {{ form.soundcloud_url }}<br><br>
            
                <label for="spotify_url">Spotify URL :</label>
                {{ form.spotify_url }}<br><br>
            
                <label for="applemusic_url">Apple Music URL :</label>
                {{ form.applemusic_url }}<br><br>
            
                <label for="deezer_url">Deezer URL :</label>
                {{ form.deezer_url }}<br><br>
            
                <label for="youtube_url">YouTube URL :</label>
                {{ form.youtube_url }}<br><br>
            
                <button type="submit" class="form-submit-button">Update Song</button><br><br>
                
                <a href="{% url 'song_delete' pk=song.id %}" class="delete" id="song-delete" onclick="return confirm('Are you sure you want to delete this song?')">× Delete Song</a>
            </form>
    </div>
{% endblock %}