{% extends 'base.html' %}
{% block title %} Artist : {{artist.name}} {% endblock %}
{% block content %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
<h1 id="artist-list">Artist Details</h1>
<div id="artist-detail">
    <div class="forms-template">
        <div id="socialsContainer">
            <img src="/media/{{artist.artist_logo}}" class="artistLogo" style="width: 100px;">
            <h2>{{ artist.name}}</h2>
            <p>{{ artist.description }}</p>
            <div id="socialsButtons">
                <a href="{{ artist.facebook }}" target="_blank" class="social-button"><i class="fab fa-facebook-f"></i></a>
                <a href="{{ artist.instagram }}" target="_blank" class="social-button"><i class="fab fa-instagram"></i></a>
                <a href="{{ artist.soundcloud }}" target="_blank" class="social-button"><i class="fab fa-soundcloud"></i></a>
                <a href="{{ artist.spotify }}" target="_blank" class="social-button"><i class="fab fa-spotify"></i></a>
                <a href="{{ artist.apple_music }}" target="_blank" class="social-button"><i class="fab fa-apple"></i></a>
                <a href="{{ artist.tiktok }}" target="_blank" class="social-button"><i class="fab fa-tiktok"></i></a>
            </div>
        </div>
        <div id="last_song">
            {% include 'artist/lastsong.html' %}
        </div>
        <div id="action-buttons">
            {% if user.is_superuser or artist.associated_user == request.user %}
                <a href="{% url 'artist_update' pk=artist.id %}" class="button">⥹ Update Artist</a>
                <a href="{% url 'artist_delete' pk=artist.id %}" class="delete" onclick="return confirm('Are you sure you want to delete this artist?')">× Delete Artist</a>
            {% endif %}
        </div>
        <a href="{{ artist.id }}/links" class="bio-button">➔ See All Links</a>

        {% if artist.song_set.exists %}
        <h2>Songs :</h2>
        {% if artist.associated_user == request.user or user.is_superuser %}
            <p id="text-song-edit">Click on a song to edit it.</p>
        {% endif%}
        <ul id="songs-list">
        {% for song in artist.song_set.all reversed %}
            <li>
                {% if artist.associated_user == request.user or user.is_superuser %}
                    <a href="/song/update/{{ song.id }}" target="_blank">
                    {{ song.name }}
                </a>
                {% else %}
                    {{ song.name }}
                {% endif%}
            </li>
            <hr>
        {% endfor %}
        </ul>
    {% endif %}

    </div>
</div>
{% endblock %}