{% extends "base.html" %}
{% block title %}Create a new artist{% endblock %}

{% block content %}
{% if messages %}
<div class="messages">
    {% for message in messages %}
        <p class="message {{ message.tags }}">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
<h1 id="artist-list">Create New Artist</h1>
<div id="article-create">
    <div class="forms-template">
        
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Name :<br>
        <input type="text" name="name" placeholder="Enter the artist display name"><br><br>
        Description :<br>
        <input type="text" name="description" placeholder="Enter the short description"><br><br>
        Logo :<br>
        {{ form.artist_logo }}<br><br>
        <h2>Socials</h2>
        <div id="create-socials">
            <div class="social-inputs">
                <i class="fab fa-facebook-f"></i>
                <input type="text" name="facebook" placeholder="Enter Facebook URL">
            </div>
            <div class="social-inputs">
                <i class="fab fa-instagram"></i>
                <input type="text" name="instagram" placeholder="Enter Instagram URL">
            </div>
            <div class="social-inputs">
                <i class="fab fa-soundcloud"></i>
                <input type="text" name="soundcloud" placeholder="Enter SoundCloud URL">
            </div>
            <div class="social-inputs">
                <i class="fab fa-spotify"></i>
                <input type="text" name="spotify" placeholder="Enter Spotify URL">
            </div>
            <div class="social-inputs">
                <i class="fab fa-apple"></i>
                <input type="text" name="apple_music" placeholder="Enter Apple Music URL">
            </div>
            <div class="social-inputs">
                <i class="fab fa-tiktok"></i>
                <input type="text" name="tiktok" placeholder="Enter TikTok URL">
            </div>
        </div>
        <br>
        <button type="submit" class="form-submit-button">Create New Artist</button>
        </form>
    </div>
</div>
{% endblock %}